@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Orbitron);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  height: 50rem;
  width: 40rem;
  padding: 2rem 0;
  border: 1rem solid #555;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#screen {
  padding: 0 1rem 0 1rem;
  height: 6rem;
  width: 32rem;
  background-color: rgb(98, 121, 95);
  text-align: right;
}

p {
  margin: 0;
  padding: 0.5rem 0.5rem 0 0;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.2rem;
}

.top {
  font-size: 1rem;
}

.current {
  font-size: 2rem;
  font-weight: bold;
  text-overflow: clip;
}

#button-container {
  height: 45rem;
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32rem;
}

.button {
  height: 6rem;
  background-color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  border-radius: 5rem;
  margin: 0;
}

.small {
  width: 6rem;
}

.long {
  width: 14.6rem;
}

.longer {
  width: 23.6rem;
}

.fa-circle {
  font-size: 1rem;
}

.button:hover {
  cursor: pointer;
}
